<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
li{
	list-style: none;
}
</style>
</head>
<body>

<header>
<h1>SEMANTIC TAG LAYOUT</h1>
<h3>시멘틱 태그</h3>
</header>

<nav>
<ul>
	<li><a href="#">&lt;header&gt; 태그</a></li>
	<li><a href="#">&lt;nav&gt; 태그</a></li>
	<li><a href="#">&lt;section&gt; 태그</a></li>
	<li><a href="#">&lt;article&gt; 태그</a></li>
	<li><a href="#">&lt;footer&gt; 태그</a></li> 
	
</ul>
</nav>
<hr>
<section>
<article>
	<p>본문 내용을 적는곳! 기본 콘텐츠가 들어감</p>
	<div class="imgBox">
		<img src="../file/bell.png" width="200" height="200">
		<br>
		section태그 안에article태그로 표현하고있음
	</div>
</article>
</section>
<hr>
<footer style="font-size: 0.8em; text-align: center;">
powered by HYO<br>
&copy;Lalabla
</footer>
</body>
</html>