<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#nav{
list-style-type: none;
margin:0 auto;
padding:0;
width:500px;
}
#nav li{
	float:left; 
	margin:10px;
	background-color: yellow;
	padding:10px;
	border-radius: 30px;
	}
#nav li:hover {
	background-color: tomato;
}

#nav li a{
color:gray;
text-decoration: none;
}
</style>
</head>
<body>
<ul id="nav">
	<li><a href="#">메뉴1</a></li>
	<li><a href="#">메뉴2</a></li>
	<li><a href="#">메뉴3</a></li>
	<li><a href="#">메뉴4</a></li>
	<li><a href="#">메뉴5</a></li>
	<li><a href="#">메뉴6</a></li>
</ul>
</body>
</html>