<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <style type="text/css">
 .relative{
 	position:relative;
 	border:1px solid green;
 	
 }


 div[class^="contant"]{position: absolute;}
 .contant1{
 	width:48%; 
 	left:0;
 	border:1px solid red;
 }
 .contant2{
 	width:48%;
 	 right:0;
 	 border:1px solid blue;
}
.wrapper{
	width:960px;
	margin:0 auto;
	
}
 </style>
</head>
<body>
<div class="wrapper">

	<h1>position 테스트</h1>
	<h3>relative,absolute</h3>
	<hr>
	<div class="relative">
		<div class="contant1">
		<h2>불러 기관과 바로 구하기</h2>
		<p>대고, 불러 기관과 바로 구하기 것이다. 관현악이며, 미묘한 청춘은 바이며, 것이다. 이상의 끓는 무엇을 피고 얼음과 것이다. 곳이 것이다.보라, 곧 보는 무엇이 우리의 가치를 이상의 약동하다. 예수는 든 맺어, 못하다 그들의 철환하였는가? 그림자는 예수는 무엇을 살 이것이다. 인생에 천하를 풀밭에 황금시대의 우리 인생을 인류의 것이다. 그들을 가슴에 웅대한 뜨고, 찾아 두손을 돋고, 얼음이 힘있다. 듣기만 보배를 가진 심장의 설산에서 가는 구하지 보라.</p>

		<p>못할 때에, 얼마나 얼음 만천하의 이상 가치를 것이다. 남는 보는 관현악이며, 있을 군영과 끓는다. 투명하되 끝에 싹이 쓸쓸하랴? 귀는 예수는 있는 안고, 아름다우냐? 크고 길지 노래하며 이상의 피가 긴지라 뼈 인생을 듣는다. 위하여 수 얼마나 피어나는 놀이 부패를 충분히 우리 것이다. 되려니와, 보배를 그들에게 쓸쓸하랴? 보이는 그들의 유소년에게서 청춘의 커다란 용감하고 싸인 간에 동력은 철환하였는가? 우리의 것이 것은 꽃이 피다. 대고, 살았으며, 작고 청춘 봄날의 찾아다녀도, 더운지라 그리하였는가?</p>

		<p>석가는 대한 싶이 청춘의 실현에 이것이다. 새 밥을 풀밭에 기관과 쓸쓸하랴? 청춘의 얼음과 대한 있는 따뜻한 열락의 이상의 인류의 운다. 바로 황금시대를 없으면, 것이다. 청춘을 이상은 장식하는 할지니, 군영과 피가 그들에게 위하여, 인간에 있다. 오직 열락의 옷을 가는 되려니와, 이상의 평화스러운 살 청춘의 부패뿐이다. 맺어, 따뜻한 눈에 하였으며, 것이다. 유소년에게서 하는 이것은 뿐이다. 들어 트고, 방황하여도, 같은 너의 가는 수 그리하였는가?</p>
		</div>
		<div class="contant2">
		<h2>헤는 않은 별을 다하지 것</h2>
		<p>헤는 않은 별을 다하지 것은 별에도 마디씩 쉬이 듯합니다. 별을 사람들의 이 다 쉬이 마리아 다하지 이웃 애기 있습니다. 노새, 가을로 책상을 이름과, 이름을 시인의 이름과, 까닭입니다. 그리고 이름과, 무덤 어머님, 새겨지는 계십니다. 된 가난한 가득 위에도 하나에 아스라히 봅니다. 별을 어머니, 별 이제 까닭입니다. 내 사랑과 옥 거외다. 이름과, 별 까닭이요, 피어나듯이 거외다. 까닭이요, 속의 프랑시스 다하지 벌써 계집애들의 이국 거외다.</p>

		<p>이름과, 아침이 피어나듯이 멀리 별이 별 그리워 거외다. 슬퍼하는 이름과, 까닭이요, 까닭이요, 멀리 오는 이제 속의 북간도에 계십니다. 이름을 계집애들의 속의 하나에 봄이 멀리 노새, 아름다운 까닭입니다. 너무나 별 새겨지는 이런 노루, 덮어 있습니다. 그리워 멀듯이, 하나에 봄이 이런 못 계십니다. 벌써 차 내린 아직 슬퍼하는 봅니다. 내 별이 그리워 가득 소학교 별 차 듯합니다. 나의 묻힌 벌써 버리었습니다. 나는 내 이웃 패, 애기 듯합니다.</p>
		</div>
	</div>

</div>
</body>
</html>