<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
div{
	width:300px;
	height: 200px;
	border:1px solid #ccc;
	padding:5px;
	margin:10px;
	float:left;
}
#visible{
	overflow: visible;
	}
#hidden{
	overflow: hidden;
}
#scroll{
	overflow: scroll;
}
</style>
</head>
<body>


<div id="visible">
<p>장식하는 황금시대를 만물은 되려니와, 싸인 뼈 그리하였는가? 가치를 내려온 피는 청춘은 듣기만 속잎나고, 영락과 인류의 교향악이다. 이상의 품고 불어 구하지 동력은 주며, 그들은 이상의 심장의 것이다. 인생을 끓는 많이 놀이 내는 사람은 황금시대다. 끝에 많이 고행을 내는 청춘의 그리하였는가? 아름답고 구하지 피에 인간은 청춘의 풍부하게 그들에게 철환하였는가? 인간이 오아이스도 장식하는 아니한 새가 찬미를 뿐이다. 인생을 그것을 지혜는 옷을 맺어, 위하여서. 넣는 사랑의 생명을 지혜는 힘있다. </p>
</div>

<div id="hidden">
<p>장식하는 황금시대를 만물은 되려니와, 싸인 뼈 그리하였는가? 가치를 내려온 피는 청춘은 듣기만 속잎나고, 영락과 인류의 교향악이다. 이상의 품고 불어 구하지 동력은 주며, 그들은 이상의 심장의 것이다. 인생을 끓는 많이 놀이 내는 사람은 황금시대다. 끝에 많이 고행을 내는 청춘의 그리하였는가? 아름답고 구하지 피에 인간은 청춘의 풍부하게 그들에게 철환하였는가? 인간이 오아이스도 장식하는 아니한 새가 찬미를 뿐이다. 인생을 그것을 지혜는 옷을 맺어, 위하여서. 넣는 사랑의 생명을 지혜는 힘있다. </p>
</div>

<div id="scroll">
<p>장식하는 황금시대를 만물은 되려니와, 싸인 뼈 그리하였는가? 가치를 내려온 피는 청춘은 듣기만 속잎나고, 영락과 인류의 교향악이다. 이상의 품고 불어 구하지 동력은 주며, 그들은 이상의 심장의 것이다. 인생을 끓는 많이 놀이 내는 사람은 황금시대다. 끝에 많이 고행을 내는 청춘의 그리하였는가? 아름답고 구하지 피에 인간은 청춘의 풍부하게 그들에게 철환하였는가? 인간이 오아이스도 장식하는 아니한 새가 찬미를 뿐이다. 인생을 그것을 지혜는 옷을 맺어, 위하여서. 넣는 사랑의 생명을 지혜는 힘있다. </p>
</div>

<div>
<img src="../file/bell.png" width="500px" height="700px">
</div>


</body>
</html>