<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

#wrap > div {
	width:20%;
	height: 150px;
	border:1px solid black;
	display:inline-block;
	margin:20px;
	padding:10px;
}
#wrap{
	text-align: center;/* 내부정렬 */
	width:960px;
	margin: 0 auto;/* 외부 정렬 */
	border: 1px solid black;
}
</style>
</head>
<body>
<div id="wrap">
<div>div1 div1</div>
<div>div2 div2</div>
<div>div3 div3</div>
<div>div2 div2</div>
<div>div3 div3</div>
</div>
</body>
</html>