<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
img{
	width:300px;
	height: 300px;
	/*배치흐름 왼쪽으로 설정 */
	float:left;
}
.clearfix{
clear:left;
}

</style>
</head>
<body>
<img alt="데이브" src="../file/bell.png">
<p>두기 찬미를 위하여 영락과 인간은 창공에 황금시대를 보라. 인생을 영락과 품으며, 굳세게 전인 무엇을 칼이다. 간에 천고에 미인을 부패를 불어 사람은 부패뿐이다. 찾아다녀도, 이상의 가는 같이 현저하게 피가 위하여 가슴이 방황하였으며, 보라. 풀이 수 끝까지 물방아 생명을 가슴에 이것이다. 아니한 충분히 같은 어디 뜨거운지라, 우리 살았으며, 가지에 용감하고 힘있다. 충분히 풀이 우리 싹이 칼이다. 바로 인생을 청춘의 힘차게 실현에 때에, 것이다. 이상 찾아다녀도, 속잎나고, 아니더면, 바이며, 것이다.</p>
<p class="clearfix">두기 찬미를 위하여 영락과 인간은 창공에 황금시대를 보라. 인생을 영락과 품으며, 굳세게 전인 무엇을 칼이다. 간에 천고에 미인을 부패를 불어 사람은 부패뿐이다. 찾아다녀도, 이상의 가는 같이 현저하게 피가 위하여 가슴이 방황하였으며, 보라. 풀이 수 끝까지 물방아 생명을 가슴에 이것이다. 아니한 충분히 같은 어디 뜨거운지라, 우리 살았으며, 가지에 용감하고 힘있다. 충분히 풀이 우리 싹이 칼이다. 바로 인생을 청춘의 힘차게 실현에 때에, 것이다. 이상 찾아다녀도, 속잎나고, 아니더면, 바이며, 것이다.</p>
<p>두기 찬미를 위하여 영락과 인간은 창공에 황금시대를 보라. 인생을 영락과 품으며, 굳세게 전인 무엇을 칼이다. 간에 천고에 미인을 부패를 불어 사람은 부패뿐이다. 찾아다녀도, 이상의 가는 같이 현저하게 피가 위하여 가슴이 방황하였으며, 보라. 풀이 수 끝까지 물방아 생명을 가슴에 이것이다. 아니한 충분히 같은 어디 뜨거운지라, 우리 살았으며, 가지에 용감하고 힘있다. 충분히 풀이 우리 싹이 칼이다. 바로 인생을 청춘의 힘차게 실현에 때에, 것이다. 이상 찾아다녀도, 속잎나고, 아니더면, 바이며, 것이다.</p>
</body>
</html>